<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">






<div style="transform:translate(38%,80%)">
<h1 style="padding-left:5%;transform:translateY(-8%)">thirdpage</h1>
<form action="/fourthpage" method="POST">

<input type="hidden" placeholder="first name" name="first" value="<%=first%>" required>
                     <input type="hidden" placeholder="last name" name="last" value="<%=last%>" required>

                     <input type="hidden" placeholder="AccountType" name="profiletype" value="<%=profileType%>" required>

                     <input type="hidden" placeholder="Phone" name="phone"  value="<%=phone%>" required>

                          <input type="hidden"  name="gender" value="<%=gender%>" required>


<div class="form-group">
<input type="hidden" placeholder="D-O-B" name="dob"  value="<%=dob%>" class="form-control" style="width:270px">
</div>


<div class="form-group">
<input type="hidden" placeholder="Religion" name="religion"  value="<%=religion%>" class="form-control" style="width:270px">
</div>

<div class="form-group">
<input type="hidden" placeholder="Mother-Tongue" name="mt"  value="<%=mt%>" class="form-control" style="width:270px">
</div>


<div class="form-group">
<input type="hidden" placeholder="email" name="email" value="<%=email%>" class="form-control" style="width:270px">
</div>


<div class="form-group">
<input type="hidden" placeholder="Password" name="password"  value="<%=password%>" class="form-control" style="width:270px">
</div>


<div class="form-group">
<input type="hidden" placeholder="Caste" name="caste"  value="<%=caste%>" class="form-control" style="width:270px">
</div>



<div class="form-group">
<input type="hidden"   value="<%=willing%>" name="willing">
</div>


<div class="form-group">
<input type="text" placeholder="height" name="height"   class="form-control" style="width:270px">
</div>

<div class="form-group">
<input type="text" placeholder="Marital Status" name="ms"  class="form-control" style="width:270px">
</div>


<div class="form-group">
<input type="checkbox"   value="yes" name="disab">Any Disability?
</div>



<div class="form-group">
<input type="text" placeholder="Family Status" name="fs"  class="form-control" style="width:270px">
</div>

<div class="form-group">
<input type="text" placeholder="Family Type" name="ft" class="form-control" style="width:270px">
</div>

<div class="form-group">
<input type="text" placeholder="Family Value" name="fv" class="form-control" style="width:270px">
</div>

<button class="btn btn-lg btn-primary btn-block" style="width:270px">Done</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>